.vs/SoEasyPlatform/v15/Server/sqlite3/db.lock
WebApi/bin/Service.dll
WebApi/bin/Service.pdb
WebApi/bin/SoEasyPlatform.BusinessCore.dll
WebApi/bin/SoEasyPlatform.BusinessCore.pdb
WebApi/bin/SoEasyPlatform.Enties.dll
WebApi/bin/SoEasyPlatform.Enties.pdb
WebApi/bin/WebApi.dll
WebApi/bin/WebApi.pdb
WebApi/Properties/PublishProfiles/FolderProfile.pubxml
WebApi/Properties/PublishProfiles/FolderProfile.pubxml.user
.vs/

[plain] view plaincopy
#过滤数据库文件、sln解决方案文件、配置文件
*.mdb
*.ldb
*.sln
*.config
#过滤文件夹Debug,Release,obj
Debug/
Release/
obj/
